.native {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.nativeWrapper {
  align-self: stretch;
  background-color: var(--primary-sky-blue);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
}
.frameParent,
.nativeWrapper,
.usdtWrapper {
  border-radius: var(--br-5xs);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.usdtWrapper {
  align-self: stretch;
  background-color: var(--black-100);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
}
.frameParent {
  position: relative;
  background-color: var(--black-94);
  width: 100%;
  flex-direction: column;
  text-align: left;
  font-size: var(--p1sb-size);
  color: var(--contrast-white-100);
  font-family: var(--p1sb);
}
