.frameChild {
  position: relative;
  border-radius: var(--br-5xs);
  width: 72px;
  height: 72px;
}
.frameItem {
  position: relative;
  width: 145px;
  height: 5px;
}
.frameParent {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contractType,
.erc721Erc721aEtc {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.erc721Erc721aEtc {
  align-self: stretch;
  font-size: var(--p1sb-size);
  font-weight: 500;
  color: var(--contrast-white-60);
}
.contractTypeParent,
.frameWrapper {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--black-100);
  width: 200px;
  padding: var(--padding-13xl) var(--padding-base);
  box-sizing: border-box;
}
.blockchainToDeploy {
  align-self: stretch;
  position: relative;
  font-size: var(--p1sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--contrast-white-60);
  text-align: center;
}
.blockchainParent {
  align-self: stretch;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameGroup,
.mintNftProcessed {
  background-color: var(--black-100);
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
}
.mintNftProcessed {
  position: absolute;
  top: 211px;
  left: calc(50% - 720px);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-61xl);
  align-items: center;
  color: var(--contrast-white-90);
}
.pickContractType {
  position: absolute;
  top: 481px;
  left: 80px;
  font-size: var(--h4sb-size);
  line-height: 140%;
}
.nftErc721,
.noCode,
.pickContractType {
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
}
.noCode {
  position: absolute;
  top: 112px;
  left: 80px;
  font-size: var(--h1sb-size);
  line-height: 140%;
}
.nftErc721 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.frameWrapper4,
.nftErc721Parent {
  display: flex;
  justify-content: flex-start;
}
.nftErc721Parent {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
}
.frameWrapper4 {
  border: 1px solid var(--primary-sky-blue);
}
.frameWrapper4,
.frameWrapper5 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--black-94);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-base);
  align-items: center;
}
.frameParent2,
.frameWrapper5,
.frameWrapper7 {
  display: flex;
  justify-content: flex-start;
}
.frameWrapper7 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--black-94);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-base);
  align-items: center;
}
.frameParent2 {
  width: 1420px;
  height: 268px;
  flex-direction: row;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-16xl);
}
.inquire,
.knownAsAzuki,
.nftErc721a {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
}
.nftErc721a {
  font-size: var(--h6sb-size);
  font-weight: 600;
}
.inquire,
.knownAsAzuki {
  font-weight: 500;
  color: var(--contrast-white-60);
}
.inquire {
  color: var(--primary-sky-blue);
}
.frameWrapper8 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--black-94);
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--p1sb-size);
}
.spreadOutYour {
  margin: 0;
}
.spreadOutYourContainer1 {
  line-break: anywhere;
  width: 100%;
}
.spreadOutYourContainer {
  position: relative;
  font-size: var(--p1sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--contrast-white-60);
  display: flex;
  align-items: center;
  width: 256.75px;
}
.nftErc721OmnichainCustomParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.inquire2 {
  align-self: stretch;
  position: relative;
  font-size: var(--p1sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--primary-sky-blue);
}
.frameParent4,
.nftMembership {
  display: flex;
  align-items: center;
}
.frameParent4 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.nftMembership {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  width: 256.75px;
}
.btnSmall,
.frameParent1,
.frameParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent3 {
  width: 1420px;
  flex-direction: row;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
}
.btnSmall,
.frameParent1 {
  position: absolute;
}
.frameParent1 {
  top: 558px;
  left: calc(50% - 710px);
  height: 652px;
  flex-direction: column;
  gap: var(--gap-29xl);
  color: var(--contrast-white-90);
}
.btnSmall {
  top: 1560px;
  left: 1264px;
  border-radius: var(--br-9xs);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  font-size: var(--p1sb-size);
}
.nftFirstPage {
  position: relative;
  background-color: var(--black-100);
  width: 100%;
  height: 1988px;
  text-align: left;
  font-size: var(--h6sb-size);
  color: var(--contrast-white-100);
  font-family: var(--p1sb);
}
