.frameChild {
  position: relative;
  border-radius: var(--br-base);
  width: 64px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameInner,
.frameItem {
  position: relative;
  width: 183px;
  height: 3px;
}
.frameInner {
  border-radius: var(--br-5xs);
  width: 64px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent {
  background-color: var(--black-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.selectBlockchain {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.selectBlockchainWrapper {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameContainer {
  border-radius: var(--br-5xs);
  background-color: var(--black-100);
  width: 200px;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
}
.describeYourDaoWrapper,
.frameContainer,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.describeYourDaoWrapper {
  align-self: stretch;
}
.describeYourDaoWrapper,
.frameDiv {
  flex-direction: column;
  align-items: center;
}
.frameDiv,
.frameGroup,
.procesDao {
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-61xl);
}
.procesDao {
  position: absolute;
  top: 211px;
  left: calc(50% - 720px);
  background-color: var(--black-100);
  width: 1440px;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-61xl) 0;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  font-size: var(--h6sb-size);
  color: var(--contrast-white-90);
}
.dao,
.describeYourDao1 {
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
}
.dao {
  position: absolute;
  top: 112px;
  left: 80px;
  font-size: var(--h1sb-size);
}
.describeYourDao1 {
  position: relative;
}
.readOurGuide {
  color: var(--primary-sky-blue);
}
.nameAndDefineContainer {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 500;
}
.describeYourDaoParent,
.nameAndDefineYourDaoSoNeWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nameAndDefineYourDaoSoNeWrapper {
  width: 1256px;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  font-size: var(--p1sb-size);
  color: var(--contrast-white-90);
}
.describeYourDaoParent {
  position: absolute;
  top: 467px;
  left: 80px;
  border-radius: var(--br-5xs);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  font-size: var(--h4sb-size);
}
.back {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.btnSmall {
  border-radius: var(--br-9xs);
  border: 1px solid var(--primary-sky-blue);
  padding: var(--padding-5xs) var(--padding-base);
}
.btnSmall,
.btnSmall1,
.btnSmallParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.btnSmall1 {
  border-radius: var(--br-9xs);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  padding: var(--padding-5xs) var(--padding-base);
  color: var(--contrast-white-100);
}
.btnSmallParent {
  position: absolute;
  top: 1882px;
  left: 1112px;
  gap: var(--gap-13xl);
  color: var(--primary-sky-blue);
}
.daoName {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--contrast-white-90);
}
.typeYourDaosNameWrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary-sky-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.maximumOf128 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 500;
}
.daoNameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.daoethWrapper,
.frameWrapper8 {
  display: flex;
  flex-direction: row;
}
.daoethWrapper {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--contrast-white-10);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper8 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--white-20);
  padding: 0 0 0 var(--padding-base);
  align-items: center;
  justify-content: flex-end;
  color: var(--primary-sky-blue);
}
.ensSubdomainParent,
.frameParent2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}
.ensSubdomainParent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--contrast-white-90);
}
.frameParent2 {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
.frameWrapper6,
.frameWrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper6 {
  flex-direction: column;
}
.logoParent,
.optionalWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.optionalWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--contrast-white-10);
  padding: var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
  font-size: var(--pinterreg12-size);
}
.logoParent {
  align-items: center;
  gap: var(--gap-base);
}
.jpgPngGif {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 500;
  color: var(--contrast-white-60);
}
.frameParent5 {
  width: 1216px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameChild3 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 96px;
  height: 96px;
  overflow: hidden;
  flex-shrink: 0;
}
.descriptionWrapper,
.frameParent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent4 {
  flex-direction: column;
  gap: var(--gap-base);
}
.descriptionWrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--white-20);
  box-sizing: border-box;
  height: 200px;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
}
.describeYourDaos {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 500;
}
.descriptionParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--color-gray-100);
}
.lensDiscordEtcWrapper,
.nmaeDescriptionParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.nmaeDescriptionParent {
  width: 658px;
  justify-content: space-between;
}
.lensDiscordEtcWrapper {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--contrast-white-10);
  padding: var(--padding-5xs) var(--padding-base);
  justify-content: flex-start;
}
.frameParent9 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.addLinkWrapper,
.frameParent1,
.frameParent3,
.frameParent8,
.frameParent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.addLinkWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--primary-sky-blue);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
}
.frameParent1,
.frameParent3,
.frameParent8 {
  flex-direction: column;
}
.frameParent8 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--black-94);
  border: 1px solid var(--contrast-white-10);
  padding: var(--padding-base);
  gap: var(--gap-base);
  color: var(--contrast-white-100);
}
.frameParent1,
.frameParent3 {
  gap: var(--gap-29xl);
}
.frameParent3 {
  align-self: stretch;
  color: var(--contrast-white-90);
}
.frameParent1 {
  position: absolute;
  top: 644px;
  left: calc(50% - 640px);
  border-radius: var(--br-5xs);
  background-color: var(--black-94);
  width: 1280px;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.tokenGeneration {
  position: relative;
  background-color: var(--black-100);
  width: 100%;
  height: 2336px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p1sb-size);
  color: var(--contrast-white-100);
  font-family: var(--p1sb);
}
